.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_header_links {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.right_header_links > button {
  padding: 0.25em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
}

.right_header_links > button:hover {
  border: 2px solid black;
}
