.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginForm > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.25em;
}

.loginForm > div > p > a {
  text-decoration: underline;
}

.loginForm > div > button {
  border: 2px solid var(--secondary-color);
  cursor: pointer;
}

.loginForm > div > button:hover {
  border-color: black;
}

.loginForm > div > div {
  display: flex;
  gap: 0.25em;
}

.loginForm > div > div > input {
  width: 100%;
}

.loginForm > div > div > div {
  width: 100%;
  max-width: 25px;
  display: flex;
  align-items: center;
  border: 2px solid var(--secondary-color);
  cursor: pointer;
}

.loginForm > div > div > div:hover {
  border-color: black;
  background-color: var(--secondary-color);
}
.invalidInput {
  color: red;
}
