.fileContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.fileContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  max-width: 1000px;
  max-height: 1000px;
}

.fileContainer > div > img {
  width: 100%;
  height: 100%;
}

.file_buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 0.25em;
}

.file_buttons > button {
  cursor: pointer;
  width: 100%;
  max-width: 25px;
  display: flex;
  border: 2px solid var(--secondary-color);
}

.file_buttons > button:hover {
  border-color: black;
}

.file_buttons > a {
  display: none;
}

.file_buttons > button:last-of-type {
  border: none;
}
